.container{
    height: 200px;
    border: 2px solid green;

    /* it's convert container to flex */
    display: flex;
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap-reverse;
    flex-flow: column;
    flex-flow: column-reverse; */

    justify-content: first baseline;
    justify-content: center;
}

.box{
    width: 50px;
    border: 1px solid black;
    background-color:green
}